{% extends 'contracts/base.html' %}

{% block content %}
    <H1>
        {{ title }}
    </H1>
        <li>
            ИНН: {{provider.inn}}
        </li>
        <li>
            Код в SAP: {{provider.sap_code}}
        </li>
        <li>
            E-mail: {{provider.e_mail}}
        </li>
        <li>
            Телефон: {{provider.telephone}}
        </li>
        <li>
            Всего договоров: {{provider.get_contracts_count}}
            {% if provider.get_bad_history > 0 %}
            , из них с просрочкой {{ provider.get_bad_history }}
            {% else %}
                все без просрочки поставки
            {% endif %}

        </li>
        <br>
        <br>
{% if active_contracts %}
<h3>Не поставленные договоры:</h3>
{% for cont in active_contracts %}
    <p>
        <a href="{{ cont.get_absolute_url }}"> {{ cont }} </a> Срок поставки {{cont.finish_date }}
    </p>
{% endfor %}
{% endif %}
<br>
<br>
{% if unpaid%}
<h3>Не оплаченые поставки:</h3>
{% for deliv in unpaid %}
    <p>
        {{ deliv }}
    </p>
{% endfor %}
{% endif %}
{% endblock %}